body{
    background-color: #232323;
    margin-top: 0px;
    margin-left: 140px;
    margin-right: 140px;
}
.top-logo{
    display: flex;
    font-size: large;
    color: white;
    align-self: center;
    font-weight: bold;
    padding: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 700px;
}
.link-one,
.link-two,
.link-tree{
    display: flex;
    justify-content: center;
    padding: 8px;
}
.menu-logo{
    display: flex;
    background-color: #1F2937;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.links{
    display: flex;
    color: whitesmoke;
    font-size: x-small;
    justify-content: flex-end;
}
.container-head{
    display: flex;
    background-color: #1F2937;
    width: auto;
    height: 260px;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: stretch;
}
.big-text{
    font-weight: bolder;
    font-size: large;
    color: white;
    font-size: 21px;
    line-height: 10px;
}
.small-text{
    font-size: small;
    color: whitesmoke;
}
.placeholder{
    height: 220px;
    width: auto;
    padding: auto;
}
.big-text,
.small-text{
    margin-right: 40px;
}
.sign{
    display: flex;
    background-color: #3b82f6;
    color: white;
    border: 3px solid #3b82f6;
    width: 100px;
    justify-content: center;
    border-radius: 7px;
    font-weight: bold;
}
.middle-container{
    display: flex;
    background-color: white;
    height: 180px;
    width: auto;
    justify-content: center;
    align-items: center;
}
.information{
    display: flex;
    font-weight: bold;
    font-size: 19px;
    align-self: center;
    justify-content: center;
    background-color: white;
    height: 50px;
}
.random{
    display: flex;
    align-self: center;
}
.boxes{
    display: flex;
    flex-direction: row;
}
.box1,
.box2,
.box3,
.box4,
.box5{
    display: flex;
    border: 2px solid #2373f4;
    height: 80px;
    width: 80px;
    margin: 20px;
    border-radius: 8px;
}
.column-box{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-items: center;
}
.img-link{
    display: flex;
    width: 79px;
    height: 79px;
}
.random-info{
    font-size: x-small;
    word-wrap: break-word;
    width: 70px;
    gap: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center{
    display: flex;
    justify-content: center;
}
.quote-container{
    display: flex;
    height: 190px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}
.quote{
    display: flex;
    justify-content: center;
    width: 500px;
}
.text-quote{
    color: #232323;
    font-size: large;
    font-family: cursive;
}
.signature{
    display: flex;
    align-self: flex-end;
}
.sign-enhance{
    padding-bottom: 10px;
    padding-right: 30px;
}
.advertisment-container{
    display: flex;
    height: 160px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.advertisment{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b82f6;
    height: 100px;
    width: 650px;
    border-radius: 7px;
    padding-left: 15px;
    padding-right: 15px;
}
.no-link{
    color: white;
    text-decoration: none;
}
.advert-text-big{
    color: white;
    font-weight: bold;
    font-size: large;
}
.advert{
    padding-right: 50px;
}
.advert-text-small{
    color: wheat;
    font-size: 12px;
}
.button-elements{
    display: flex;
    align-items: center;
    justify-content: center;
}
.but{
    border: 1px solid white;
    color: white;
    background-color: #3b82f6;
    border-radius: 8px;
    height: 45px;
    width: 90px;
}
.end-container{
    display: flex;
    width: auto;
    height: 30px;
    background-color: #1f2937;
    justify-content: center;
}
.ending{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Odin{
    color: whitesmoke;
    font-size: xx-small;
}